ieee_spm_note/ieee_adjoints.aux
ieee_spm_note/ieee_adjoints.bbl
ieee_spm_note/ieee_adjoints.blg
ieee_spm_note/ieee_adjoints.log
ieee_spm_note/ieee_adjoints.pdf
ieee_spm_note/ieee_adjoints.out
ieee_spm_note/james_contact_info
ieee_spm_note/note.tar

bce/data
bce/L1General
bce/trash

wavelet/HNO/
wavelet/ssim_index.m
wavelet/export_fig/
wavelet/trash

*.zip
